@tailwind base;
@tailwind components;
@tailwind utilities;
 @layer base {
  h1{
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
  }
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .profile-border{
    box-shadow: 4px 0px 20px 5px rgba(0, 0, 0, .3)
  }
  .latest-projects-border{
    box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, .3);
    border: 1px solid #000;
    border-radius: 8px;
    overflow:hidden;
    transition: .3s ease all;
    top:0;
    position: relative;
    cursor: pointer;
  }
  @media (prefers-reduced-motion: no-preference){
    .animate-aboutImage{
      transform: translateX(30%);
      animation-timeline: view();
      animation-range-start: 200px;
      animation-range-end: 400px;
    }
    .animate-aboutDescription{
      opacity:0;
      transform: translateX(-30%);
      animation-timeline: view();
      animation-range-start: 200px;
      animation-range-end: 400px;
      
    }
  }
  
}
